.codeclimate.yml
.rspec
.rubocop.yml
.travis.yml
lib
pkg
spec
fixtures
test
Gemfile
Gemfile.lock
Rakefile
coverage
doc
oakdex-pokedex.gemspec
schemas_to_markdown.js
data/ability/
data/egg_group/
data/generation/
data/move/
data/nature/
data/pokemon/
data/region/
data/type/
